# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Dependency directories
bower_components/

# Build directories
dist/
build/

# System files
*.swp
*~.nib

/generated/prisma
